<footer class="bg-light text-center p-3">
    <p>&copy; 2025 CRUD and Auth</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
  </body>
  </html>
  